[build]
target = "wasm32-unknown-unknown"
rustflags = ["-C", "target-feature=+mutable-globals"]

[target.wasm32-unknown-unknown]
rustflags = [
  "-C", "target-feature=+mutable-globals",
  "-C", "link-arg=--max-memory=4294967296" # 4GB max
]